//Colors
$grullo: #9E9885;
$arsenic: #3F334D;
$isabelline: #F1EDEE;
$dodger-blue: #1E90FF;
$brandeis-blue: #0077ea;
$prussian-blue: #003554;

//Sizes
$s-size: 1.0rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;